# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/database/get-docker.sh
/database/.env
/database/.env.local
/database/.env.development.local
/database/.env.test.local
/database/.env.production.local

/restapi/.env
/restapi/.env.local
/restapi/.env.development.local
/restapi/.env.test.local
/restapi/.env.production.local

# dependencies
/ui/node_modules
/ui/.pnp
/ui/.pnp.js

# testing
/ui/coverage

# production
/ui/build

# misc
/ui/.env
/ui/.env.local
/ui/.env.development.local
/ui/.env.test.local
/ui/.env.production.local

/ui/npm-debug.log*
/ui/yarn-debug.log*
/ui/yarn-error.log*
